h2{
  color: #457b9d!important;
}

.custom-btn{
  background-color: #457b9d!important;
  color: #fff;
  margin-bottom: 20px;
}

header{
  background-color: #1d3557;

}
header a{
  color: #fff;
}
/* slider */
.customslider{
  height: 400px;
  overflow: hidden;
}

/* services */
.services .row .card{
  background-color: #1d3557;
  color: #fff;
}


footer{
  background-color: #1d3557;
}

@media screen and (max-width: 480px) {
  .form-container {
      width: 90%;
  }
}
