h2 {
  color: #457b9d !important;
}

.custom-btn {
  background-color: #457b9d !important;
  color: #fff;
  margin-bottom: 20px;
}

header {
  background-color: #1d3557;
}

header a {
  color: #fff;
}

/* slides */
.customslider {
  height: 400px;
  overflow: hidden;
}

/* servicos */
.services .row .card {
  background-color: #1d3557;
  color: #fff;
}

footer {
  background-color: #1d3557;
}

/* Media queries resposividade */
@media screen and (max-width: 768px) {
  header {
    padding: 10px 20px;
  }
  
  .customslider {
    height: 300px;
  }
  
  .services .row .card {
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  
  .customslider {
    height: 200px;
  }
  
  .services .row .card {
    padding: 10px;
  }
}

